# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# YouTube OAuth
youtube_token.json

# Temporary files
temp/

# Logs
*.log
